body{
  padding:50px;

}
.center {

  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}


#lconfirm_content{
  background: rgba(0, 0, 0, 0.81);
  height: 400px;
  width:700px;
  color:white;

}

#lconfirm_dialog{
  position: absolute;
  height: 400px;
  width:700px;
  z-index: 15;
  top: 40%;
  left: 40%;
  margin: -100px 0 0 -150px;
}
